<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.ifml.eclipse.graphiti.platform.CommonGfImageProvider"
            id="org.ifml.eclipse.graphiti.platform.CommonImageProvider">
      </imageProvider>
   </extension>

</plugin>
